@tailwind base;
@tailwind components;
@tailwind utilities;

.shaka-video-container {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16/9;
}

.shaka-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.shaka-controls-container {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent) !important;
}


video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}


@media screen and (min-width: 0\0) {
  video {
    filter: none !important;
  }
}